.kl-card-post{
    .kl-card-post-thumbnail{
        height: 456px;
        margin-bottom: 25px;
        overflow: hidden;
        @include media-breakpoint-down(xxl){
            height: 288px;
        }
        @include media-breakpoint-down(lg){
            height: 168px;
        }
        @include media-breakpoint-down(md){
            height: 220px;
        }
    }
    .kl-card-post-content{
        font-size: 15px;
        line-height: 22px;
        font-family: $garamond;
        font-style: italic;
        margin-bottom: 22px;
    }
}
.kl-hover-zoom{
    img{
        transform: scale(1);
        transition: all .35s;
    }
    &:hover{
        img{
            transform: scale(1.13);
        }
    }
}